# Wallabag (Read-it-later) Environment Configuration

# User/Group Configuration
PUID=1027
PGID=100
TZ=America/Edmonton

# Storage Paths
CONFIG_STORAGE=/volume1/docker

# Port Configuration
WALLABAG_PORT=6749

# Server Configuration
SERVER_NAME=backson.boo
DOMAIN_NAME=http://192.168.0.56:6749

# Mail Configuration
MAILER_HOST=mail.example.com
FROM_EMAIL=wallabag@example.com
MAILER_USER=
MAILER_PASSWORD=

# User Configuration
FOSUSER_REGISTRATION=true
FOSUSER_CONFIRMATION=false
TWOFACTOR_AUTH=false
