# Calibre-Web-Automated Book Downloader Environment Configuration

# Port Configuration
FLASK_PORT=8084

# Flask Configuration
FLASK_DEBUG=false

# Cloudflare Configuration
CLOUDFLARE_PROXY_URL=http://cloudflarebypassforscraping:8000

# Book Configuration
INGEST_DIR=/cwa-book-ingest
BOOK_LANGUAGE=en

# Storage Paths
IMPORT_STORAGE=/volume1/data/import
