# PostgreSQL Configuration
POSTGRES_USER=root
POSTGRES_PASSWORD=your_secure_password_here
POSTGRES_DB=backson_DB

# pgAdmin Configuration
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=your_secure_password_here

# Storage Paths
CONFIG_STORAGE=/volume1/docker

# Port Configuration
POSTGRES_PORT=2665
PGADMIN_PORT=2660
PGADMIN_LISTEN_PORT=5050
