# TRMNL Environment Configuration

# Port Configuration
TRMNL_PORT=4567

# PHP Configuration
PHP_OPCACHE_ENABLE=1

# TRMNL Configuration
TRMNL_REFRESH_MINUTES=15
DB_DATABASE=database/storage/database.sqlite
TZ=America/Edmonton
